<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Zeus's house</title>
</head>
<body>
    <h1>Zeus API instruction</h1>
    <p>
        <h3>In docker run below</h3>
        <ul>
            <li><a href="http://localhost:5999/search?q=A3">Example http://localhost:5999/search?q=A3</a></li>
        </ul>
        <h3>In local run below</h3>
        <ul>
            <li><a href="http://localhost:5000/search?q=A3">Example http://localhost:5000/search?q=A3</a></li>
        </ul>
    </p>
</body>
</html>